<a href="https://colab.research.google.com/github/EagaSupritha/SoC-2k22/blob/main/Copy_of_Week_Two_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get th dataset from
https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

path = '/content/drive/my_dataset'

output_dir = '/content'

### Convert file into pandas dataframe

In [ ]:
url = "/content/drive/MyDrive/my_dataset/bestsellers with categories.csv"
df = pd.read_csv(url)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Print *first* 5 rows of dataframe

In [ ]:
df

 ### Print the number of rows.<br>Print the number of columns <br> Print the datatype of each variable.

In [ ]:
print("Num of Rows:",df.shape[0])
print("Num of columns: ",df.shape[1])

print("data_type:")
print(df.dtypes)

In [ ]:
df.info()

### For each variable, print the number of unique values.<br>For each variable, display the number of missing entries.

In [ ]:
print("Num_unique_values:\n",df.nunique(),'\n',sep='',)
print("Num_null_values:\n",df.isnull().sum(),sep='')

### Print statistical info of each numeric variable.(i.e. mean,meadian,..)

In [ ]:
df.describe()

### Find 20%,40%,60%,80% of variables

In [ ]:
df.describe([0.2,0.4,0.5,0.8])

### Print rows having 'To Kill a Mockingbird'

In [ ]:
df.loc[df['Name']=='To Kill a Mockingbird']

### Remove Duplicates by name (Remove duplicates of the same name)

In [ ]:
df.drop_duplicates(inplace = True)
df.shape

### Print name of all columns

In [ ]:
df.columns

### Find info about movie 'Steve Jobs'(i.e.Print row of name 'Steve Jobs')

In [ ]:
df.loc[df['Name']=='Steve Jobs']

### Plot Scatterplot of Price vs User Rating

In [ ]:
plt.scatter(df.Price,df['User Rating'],s=1,color='red') #. for red, + for the marker
plt.show()

### For each variable, plot the frequency of each unique value (histogram).

In [ ]:
def Hist(df):
     my_list=df.columns
     for col in my_list[2:6]:
           df[col].hist(edgecolor='black')
           plt.title
           plt.show()

Hist(df)

### Plot Box_Plot of each var

In [ ]:
def Box(col):
     plt.boxplot(col,patch_artist=True)

i=0
for col in  df.columns[2:6] :
     plt.axes([0.05+i,0.05,0.425,0.9])
     Box(df[col])
     plt.title(col+'_Box_plot')
     i+=0.5